.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: min(97vw, 500px);
  min-height: 400px;
  gap: 2rem;
}

.btn-holder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}